@media only screen {
	.aside{
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 2;
		padding: 40px;
		box-sizing: border-box;
		background-color: rgba(95,66,109,0.85);
	}
	.asideWrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	.menuToggleContainer{
		position: fixed;
		z-index: 3;
		@include font-size(34);
		right: 10px;
		cursor: pointer;
	}
	.logo{
		width: 15%;
		min-width: 100px;
	}
	.logoContainer,
	.menu,
	.social{
		list-style: none;
		text-align: center;
	}
	.menu{
		padding: 20px 0;
	}
	.menu-item-link{
		font-family: 'Futura';
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		@include font-size(36);
		padding: 10px 0;
		display: block;
	}
	.social-item{
		display: inline-block;
		padding: 0 15px;
	}
	.social-item-link{
		color: white;
		@include font-size(24);
	}
	.socialContainer{
		display: none;
	}
	.socialContainer--mobile{
		display: block;
	}
	.epklink{
		position: absolute;
	    bottom: 20px;
	    left: 50%;
	    transform: translateX(-50%);
	    color: white;
	    text-decoration: none;
	    font-size: 2rem;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.aside{
		display: block;
		float: left;
		width: 250px;
		height: 100%;
		background-color: rgba(255,255,255,0.1);
		box-sizing: border-box;
		position: relative;
		padding: 0;
	}	
	.asideWrapper{
		position: relative;
		top: 0;
		left: 0;
		@include transform(translate(0%,0%));
	}
	.menuToggleContainer{
		display: none;
	}
	.logoContainer{
		padding: 40px;
	}
	.logo{
		width: auto;
		min-width: 0;
	}
	.menu{
		list-style: none;
		padding-top: 40px;
	}
	.menu-item{
		text-align: center;
		position: relative;
		font-family: 'Futura';
	}
	.menu-item.active{
		@include transform(scaleY(1));
		opacity: 1;
		.menu-item-hover{
			@extend .menu-item-hover--active;
		}
	}
	.menu-item-link{
		display: inline-block;
		font-size: 24px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 20px 0;
		color: white;
		position: relative;
		z-index: 10;
		&:hover{
			~ .menu-item-hover{
				@extend .menu-item-hover--active;
			}
		}
	}
	.menu-item-hover{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: $mauve;
		opacity: 0;
		@include transform(scaleY(0));
		transform-origin: 50% 100%;
		@include transition(transform 0.2s ease-in-out, opacity 0.2s ease-in-out);
	}
	.menu-item-hover--active{
		@include transform(scaleY(1));
		opacity: 1;
	}
	.socialContainer{
		display: block;
		position: absolute;
		bottom: 60px;
		left: 50%;
		@include transform(translate(-50%, 0));
		width: 100%;
	}
	.socialContainer--mobile{
		display: none;
	}
	.social-item{
		display: inline-block;
		padding: 0;
	}
	.social-item-link{
		color: white;
		@include font-size(30);
		padding: 0 10px;
	}
}