@media only screen {
	
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.menu{
		float: left;
		width: 250px;
		height: 100%;
		background-color: blue;
	}	
}