@media only screen {
	.contactSection{
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
	}	
	.contactSection-comingSoonContainer{
		width: 100%;
	}
	.wpcf7-form-control.wpcf7-submit{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: $mauve;
		border: 0;
		color: white;
		font-family: 'Futura';
		text-transform: uppercase;
		font-size: 14px;
		padding: 10px 20px;
		margin-top: 5px;
		cursor: pointer;
	}
	.wpcf7-form{
		padding: 0 20px;
		input,textarea,select{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid grey;
			background-color: rgba(255,255,255,0.1);
			outline: none;
			color: white;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			padding: 5px;
			margin-bottom: 10px;
			margin-top: 5px;
			box-sizing: border-box;
			width: 100%;
			@include font-size(18);
		}
		select{
			padding: 5px 25px 5px 5px;
		}
	}
	.wpcf7-form-control-wrap.checkbox-833{
		&:after{
			font-family: 'FontAwesome';
			content: '\f107';
			position: absolute;
			right: 20px;
			top: 3px;
		}
	}
	.wdform_page{
		text-align: center;
	}
	
	form.contactform2{
		.wdform-required{
			color: $mauve;
		}
		.wdform-label{
			font-family: 'OpenSans', sans-serif;
			color: white;
		}
		.button-submit{
			margin: 0;
			background-color: $mauve;
			color: white;
			font-family: 'Futura', sans-serif;
			text-transform: uppercase;
			padding-top: 3px;
		}
		input,input[type="text"]{
			height: 25px;
		}
		input,textarea,select,input[type="text"]{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid grey;
			background-color: rgba(255,255,255,0.1);
			outline: none;
			color: white;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			padding: 5px;
			margin-bottom: 10px;
			box-sizing: border-box;
			width: 100%;
			@include font-size(14);
		}
		textarea[id="wdform_23_element2"]{
			color: white;
			font-family: 'OpenSans', sans-serif;
			@include font-size(14);
		}
		select{
			padding: 0px 5px;
			box-sizing: inherit;
		}
		.wdform-element-section.wdform_select{
			&:after{
				font-family: 'FontAwesome';
				content: '\f107';
				position: relative;
				left: calc(100% - 10px);
				top: -31px;
			}
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.wpcf7-form{
		width: 300px;
		margin: auto;
		input,textarea,select{
			width: auto;
			@include font-size(12);
		}
	}
	.wpcf7-form-control-wrap.checkbox-833{
		&:after{
			font-family: 'FontAwesome';
			content: '\f107';
			position: relative;
			right: 20px;
			top: 2px;
		}
	}

	// form.contactform2 .wdform-element-section.wdform_select{
	// 	&:after{
	// 		font-family: 'FontAwesome';
	// 		content: '\f107';
	// 		position: relative;
	// 		left: calc(100% - 10px);
	// 		top: -31px;
	// 	}
	// }

}