@media only screen {
	.instagramSectionWrapper{
		padding-top: 40px;
	}
	.instagramSection{
		text-align: center;
		max-width: 360px;
		margin: 0 auto;
	}
	.instagramSection-photo{
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
		img{
			width: 100%;
		}
		margin-bottom: 40px;
	}
	.instagramSection-photo-link,
	.instagramSection-photo-videoContainer{
		display: inline-block;
		width: 100%;
		position: relative;
	}
	.instagramSection-photo-videoContainer{
		cursor: pointer;
	}
	.instagramSection-photo-video{
		width: 100%;
		max-width: 360px;
		box-sizing: border-box;
		
	}
	.instagramSection-photo-videoButton{
		display: block;
		pointer-events: none;
		@include font-size(64);
		@include centerer;
	}
	.instagramSection-photo-videoButton-hidden{
		display: none;
	}
	.instagramSection-photo-date,
	.instagramSection-photo-likes{
		@include font-size(12);
	}
	.instagramSection-photo-date{
		float: left;
	}
	.instagramSection-photo-likes{
		float: right;
	}
	.instagramSection-photo-caption{
		padding-bottom: 10px;
		word-wrap: break-word;
	}
	.instagramSection-photo-caption-link,
	.instagramSection-photo-permalink{
		color: lighten($mauve, 30%);
		@include transition(color 0.5s ease);
		&:hover{
			color: lighten($mauve, 10%);
		}
	}
	.instagramSection-photo-permalink{
		@include font-size(12);
		float: left;
		padding-left: 48px;
	}
}
@media only screen and (min-width: 720px){
	.instagramSection-photo{
		width: 360px;
		padding: 0 30px;
		img{
			width: 100%;
		}
	}
	.instagramSection-photo-link{
		width: auto;
	}
	.instagramSection{
		max-width: 720px;
	}
	.instagramSection-photo-video{
		width: 300px;
		box-sizing: border-box;
	}
	.instagramSection-photo-permalink{
		padding-left: 20px;
	}
}
@media only screen and (min-width: 1330px){
	.instagramSection{
		max-width: 1080px;
	}
}