// breakpoints

$small: 320px;
$medium: 641px;
$large: 1025px;

// colors
$mauve: #5f426d;

// fonts
$font-family-body: 'Open Sans';
$font-family-header: 'Futura';

$fa-font-path: '../../library/fonts/fontawesome/';